@media screen and (max-width:768px) {
  .home-section2 .home-service__bg {
    background-image: url(./image/home/home_service_bg_sp02.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-top: 150%;
  }

  .home-section2 .home-service__mission {
    position: absolute;
    width: 90%;
    top: 23%;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }

  .home-section2 .home-service__mission p {
    text-align: center;
    color: #fff;
    font-size: 2.8vw;
    line-height: 4.5vw;
    margin-bottom: 2.5vw;
  }

  .home-section2 .home-service__mission a {
    max-width: 35vw;
  }

  .home-section3 {
    flex-direction: column;
  }

  .home-section3 .home-service__typeSection {
    width: 100%;
    height: 83.5vw;
  }

  .home-section3 .home-service__typeSection .home-service__typeWhite a,
  .home-section3 .home-service__typeSection .home-service__typeOrange a {
    width: 20vw;
  }

  .home-section3 .home-service__typeSection .home-service__typeWhite a {
    right: 10%;
  }

  .home-section3 .home-service__typeSection .home-service__typeOrange a {
    left: 11%;
  }

  .home-section4 h2 {
    width: 34%;
    margin-bottom: 32px;
  }

  .home-section4 ul.home-info__area li {
    font-size: 14px;
    line-height: 1.4em;
    margin-bottom: 12px;
  }
}
