.header {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  right: 0;
  margin: auto 10%;
  padding-top: 8vh;

  h1 {
    max-width: 17vw;
    flex: 1;
    margin: auto;
    padding-right: 3vw;
  }

  nav.header-nav {
    flex: 1;
  }

  ul.header-nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  li.header-nav__menu {
    position: relative;
    width: 25%;
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 1px;
      height: 20px;
      top: 0;
      bottom: 0;
      margin: auto;
      border-left: 1px solid #000;
    }

    a {
      position: relative;
      display: block;
      padding: 4%;
      color: #fe6336;
      padding-left: 20%;
      font-size: 1.5vw;
    }
  }

  li.header-nav__menu.home a::before {
    content: "";
    position: absolute;
    background-image: url(./image/header/header_gnav_home.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: 7%;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 10px;
  }

  li.header-nav__menu.company a::before {
    content: "";
    position: absolute;
    background-image: url(./image/header/header_gnav_company.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: 7%;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 10px;
  }

  li.header-nav__menu.service a::before {
    content: "";
    position: absolute;
    background-image: url(./image/header/header_gnav_service.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: 7%;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 10px;
  }

  li.header-nav__menu.inquiry a::before {
    content: "";
    position: absolute;
    background-image: url(./image/header/header_gnav_mail.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: 7%;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 10px;
  }
}

@import "responsive";
