@media screen and (max-width:768px) {
  .service .header {
    padding-top: 0;
    padding-bottom: 0;
  }
  .service-bg__pc {
    display: none;
  }

  .service-bg__sp {
    display: block;
  }

  .service .section1 p {
    font-size: 3vw;
    line-height: 4vw;
    width: 100%;

    &.option {
      top: 20.5%;
      left: auto;
    }
    &.painting {
      padding-top: 83%;
      top: 26%;
      right: auto;
    }
    &.customize {
      padding-top: 80%;
      bottom: 27%;
      left: auto;
    }
    &.coting {
      padding-top: 86%;
      bottom: 4.5%;
      right: auto;
    }
  }
}
